@import "config/fonts";
@import "config/colors";
@import "config/screenSize";

@import "mixins";
@import "animations";

@import "parts/wrapper";
@import "parts/button";
@import "parts/images";

@import "pages/toDoList";

@import "components/header";
@import "components/modal";
@import "components/navigation";
@import "components/recorder";
@import "components/createForm";
@import "components/listOfRecords";
@import "components/singleRecord";
@import "components/todoElement";



body {
  margin: 0;
  font-family: $mainFont;
  font-size: $fontDefault;
  background-color: $backgroundPageColor;
}

input,
textarea {
  &:focus {
    outline: none;
  }
}

