/**
  List icon image
 */

.list-icon-wrapper {
  .list-icon {
    width: 30px;
    &__element {
      transition: all .2s;
      border-top: 3px solid $black;
      padding-bottom: 10px;
    }
    &__element-last {
      border-top: 3px solid $black;
      padding-bottom: 0;
    }
  }
}

/**
  Plus icon image
 */

.plus-icon-wrapper {
  .plus-icon {
    transition: transform .2s;
    position: relative;
    width: 30px;
    height: 30px;

    &:before {
      content: '';
      position: absolute;
      border-left: 4px solid $black;
      height: 100%;
      color: $black;
      top: 0;
      left: 13px;
      z-index: 1;
      transition: transform .2s;
    }

    &:after {
      content: '';
      position: absolute;
      border-top: 4px solid $black;
      width: 100%;
      color: $black;
      top: 13px;
      left: 0;
      z-index: 2;
    }
  }
}

/**
  button customization
 */
.button-active {
  .button__icon {
    > .plus-icon-wrapper {
      > .plus-icon {
        transform: rotate(45deg);
      }
    }
  }
}
