.create-form {

  &__top {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  &__bottom {

  }
}

.input-field,
.date-field
{
  flex: 0 0 300px;
  label {
    display: flex;
    flex-direction: column;
    div.input-label {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 30px;

      p.title {
        font-weight: 700;
        margin: 0;
      }
    }
  }
}

span.error-note {
  margin-left: 10px;
  color: $errorColor;
  font-size: $fontError;
}

input.input {
  height: 30px;
  border: 1px solid $formElementBorderColor;
  line-height: 30px;
  font-size: $fontDefault;
  padding: 0 5px;
}