.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);

  .modal-main {
    position:fixed;
    background: white;
    width: 300px;
    height: auto;
    top: 40vh;
    left:50%;
    transform: translate(-50%,-50%);

    .modal-nav {
      display: flex;
      justify-content: flex-end;
      padding: 10px 10px 0 0;
      cursor: pointer;
      .cross-icon {
        transition: transform .2s;
        position: relative;
        transform: rotate(45deg);
        width: 20px;
        height: 20px;

        &:before {
          content: '';
          position: absolute;
          border-left: 4px solid $black;
          height: 100%;
          color: $black;
          top: 0;
          left: 8px;
          z-index: 1;
          transition: transform .2s;
        }

        &:after {
          content: '';
          position: absolute;
          border-top: 4px solid $black;
          width: 100%;
          color: $black;
          top: 8px;
          left: 0;
          z-index: 2;
        }
      }
    }
    .modal-content {
      h2, p {
        text-align: center;
      }
    }
    .modal-controls {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .modal-controller {
        display: flex;
        justify-content: center;
        padding: 20px;
      }

      button.modal-button {
        flex: 1 0 auto;
        border: 0;
        border-radius: 0;
        font-size: $fontDefault;
        color: $white;
        padding: 12px 30px;
        cursor: pointer;
        transition: opacity .2s;

        &:hover {
          opacity: .7;
        }
        &:focus {
          outline: none;
        }

        &__reject {
          background-color: $alertColor;
        }
        &__confirm {
          background-color: $blue;
        }
      }
    }
  }

  &.modal-show {
    display: flex;
  }

  &.modal-hide {
    display: none;
  }
}




