.navigation {
  display: flex;
  flex-direction: row;
  .nav-section {
    flex: 1 0;

    &:nth-child(2) {
      display: flex;
      justify-content: center;
    }

    &:nth-child(3) {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.hidden-content {
  transition: max-height .5s ease-out;
  overflow: hidden;
}
